<configuration>

    <!-- "Аппендер" для вывода логов в консоль -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Формат сообщения в логе -->
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- "Аппендер" для записи логов в файл -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!-- Имя и путь к файлу. Папка logs создастся сама -->
        <file>${catalina.base}/logs/app.log</file>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Корневой логгер. Он собирает все логи со всего приложения -->
    <root level="INFO">
        <!-- Подключаем наши аппендеры -->
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

</configuration>